<div class="columns is-mobile is-vcentered is-multiline message <%= message.sender == current_user ? 'sender' : 'receiver' %>">  
  <div class="column is-one-fifth-mobile is-1-tablet photo">
    <% if message.sender.photo.present? %>
      <figure class="image is-square is-36x36">
        <%= image_tag rails_blob_path(message.sender.photo), class: 'is-rounded' %>
      </figure>
    <% else %>
      <i class="fas fa-paw has-text-write-ter fa-2x"></i>
    <% end %>
  </div>

  <div class="column is-11-table is-four-fifth-mobile details">
    <div class="columns is-multiline">
      <div class="column is-full content">
        <%= message.content %>
      </div>
      <% if message.file.present? %>
        <div class="column is-full content">
        <% if message.file.blob.content_type.include? "image/"%>
          <%= image_tag rails_blob_url(message.file), class:"is-rounded mobile"%>
        <% else %>
          <div class="columns">
            <div class="column">
              <strong>Nome do arquivo:</strong>
              <%= message.file.blob.filename %>
            </div>
            <div class="column">
              <strong>Tamanho:</strong>
              <%= message.file.blob.byte_size%> Bytes
            </div>
            <div class="column">
              <strong>
                <%= link_to "Download", message.file.blob %>
              </strong>
            </div>
          </div>
        <% end%>
        </div>
      <% end %>
      <div class="column is-full date">
        <%= message.created_at.strftime("%m/%d/%Y %H:%M") %>
      </div>
    </div>
  </div>
</div>  